/*********************************************
	Mobile Menu
*********************************************/

.mobile.builder-module-navigation .it-mobile-menu-hidden {
	display: none;
	margin-bottom: 1em;
}

.nav-with-logo .builder-module-element .builder-module-navigation-menu-wrapper, .builder-module-element .builder-module-navigation-menu-wrapper {
	display: block;
}

.mobile.builder-module-navigation .sub-menu-expand-hidden {
	display: none;
}

.it-mobile-menu {
	font-weight: normal;
	font-size: 1.25em;
	text-align: center;
	cursor: pointer;
	display: block;
	background: transparent;
	color: #FFFFFF;
	padding: .5em 1em;
	border: 2px solid #FFF;
	border-radius: 5px;
	-webkit-appearance: none;
	margin: 1em 0;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.mobile.builder-module-navigation.nav-with-logo .it-mobile-menu{
	background: #4A90E2;
	color: #FFFFFF;
	margin: 2em 0 1em;
}

.it-mobile-menu:hover, .it-mobile-menu:focus {
	background: #FFF;
	color: #353F49;
}

.mobile.builder-module-navigation-background-wrapper {
	padding: 0;
	background: #4A545A;
}
.builder-module-outer-wrapper .mobile.builder-module-navigation {
	padding: 0;
}
.mobile.builder-module-navigation {
	display: block;
	line-height: 1;
	width: 100%;
}
.mobile.builder-module-navigation ul.menu {
	border: 1px solid #999;
	border-bottom: 0;
}

.mobile.builder-module-navigation.secondary-navigation ul.menu {
	border-color: #FFF;
}

.mobile.builder-module-navigation ul.menu:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.mobile.builder-module-navigation ul {
	display: block;
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
.mobile.builder-module-navigation ul * {
	margin: 0;
}
.mobile.builder-module-navigation li {
	padding: 0;
	display: block;
	width: 100%;
}

.mobile.builder-module-navigation li a,
.mobile.builder-module-navigation .current_page_item li a,
.mobile.builder-module-navigation .current-cat li a,
.mobile.builder-module-navigation .current-menu-item li a {
	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
	padding: 1em;
	border: 0;
	border-bottom: 1px solid #999;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}
.mobile.builder-module-navigation .current_page_item > a,
.mobile.builder-module-navigation .current-cat > a,
.mobile.builder-module-navigation .current-menu-item > a {
	color: #FFFFFF;
	background: #4A90E2;
}
.mobile.builder-module-navigation li a:hover,
.mobile.builder-module-navigation .current_page_item li a:hover,
.mobile.builder-module-navigation .current-cat li a li a:hover,
.mobile.builder-module-navigation .current-menu-item li a:hover {
	color: #FFFFFF;
	background: #4A90E2;
}

.builder-module-navigation.nav-with-logo li li a:hover, 
.builder-module-navigation.nav-with-logo li li a:focus, 
.builder-module-navigation.nav-with-logo li li a.sfhover, 
.builder-module-navigation.secondary-navigation li li a:hover, 
.builder-module-navigation.secondary-navigation li li a:focus, 
.builder-module-navigation.secondary-navigation li li a.sfhover,
.builder-module-navigation .sub-menu .current_page_item > a, 
.builder-module-navigation .sub-menu .current-cat > a, 
.builder-module-navigation .sub-menu .current-menu-item > a, 
.builder-module-navigation li li a:hover, 
.builder-module-navigation li li a:focus, 
.builder-module-navigation li li a.sfhover {
	color: #FFF;
	border: none;
}

.mobile.builder-module-navigation.secondary-navigation li a,
.mobile.builder-module-navigation.secondary-navigation .current_page_item li a,
.mobile.builder-module-navigation.secondary-navigation .current-cat li a,
.mobile.builder-module-navigation.secondary-navigation .current-menu-item li a {
	border-color: #FFF;
}

.mobile.builder-module-navigation.secondary-navigation .current_page_item > a,
.mobile.builder-module-navigation.secondary-navigation .current-cat > a,
.mobile.builder-module-navigation.secondary-navigation .current-menu-item > a,
.mobile.builder-module-navigation.secondary-navigation li a:hover,
.mobile.builder-module-navigation.secondary-navigation .current_page_item li a:hover,
.mobile.builder-module-navigation.secondary-navigation .current-cat li a li a:hover,
.mobile.builder-module-navigation.secondary-navigation .current-menu-item li a:hover {
	color: #4A90E2;
	background: #FFF;
}

/* Second Level */
.mobile.builder-module-navigation li ul {
	display: none;
	background: #FFFFFF;
	border: 0;
	width: 100%;
	left: 0;
	position: relative;
}

.mobile.builder-module-navigation.default-module-style ul {
	background: #303B49;
}

.mobile.builder-module-navigation.secondary-navigation ul {
	background: #4A90E2;
}

.mobile.builder-module-navigation li li {
	border: 0;
	width: 100%;
}

.mobile.builder-module-navigation.default-module-style .sub-menu li a, .mobile.builder-module-navigation.secondary-navigation .sub-menu li a {
	color: #FFF;
}

.mobile.builder-module-navigation.secondary-navigation .sub-menu li a:hover, .mobile.builder-module-navigation.secondary-navigation .sub-menu li a:focus {
	color: #4A90E2;
}

.mobile.builder-module-navigation li li a,
.mobile.builder-module-navigation .current_page_item li a,
.mobile.builder-module-navigation .current-cat li a,
.mobile.builder-module-navigation .current-menu-item li a {
	float: none;
	font-size: 1em;
	line-height: 1;
	margin: 0;
	padding-left: 1.75em;
}
.mobile.builder-module-navigation li li a:hover,
.mobile.builder-module-navigation li li a.sfhover {

}
.mobile.builder-module-navigation li li li a {
	padding-left: 2.75em;
}
.mobile.builder-module-navigation li ul ul {
	margin: 0;
}
.mobile.builder-module-navigation li:hover ul,
.mobile.builder-module-navigation li li:hover ul,
.mobile.builder-module-navigation li li li:hover ul,
.mobile.builder-module-navigation li li li li:hover ul,
.mobile.builder-module-navigation li li li li li:hover ul,
.mobile.builder-module-navigation li.sfhover ul,
.mobile.builder-module-navigation li li.sfhover ul,
.mobile.builder-module-navigation li li li.sfhover ul,
.mobile.builder-module-navigation li li li li.sfhover ul,
.mobile.builder-module-navigation li li li li li.sfhover ul {
	left: 0;
}

.mobile.builder-module-navigation .menu-item-has-children {
	position: relative;
}

.mobile.builder-module-navigation .sub-menu-expand {
	display: inline;
	position: absolute;
	padding: 1em;
	right: 0;
	top: 0;
	border: none;
	cursor: pointer;
	border: none;
}

.mobile.builder-module-navigation .sub-menu-expand:hover, .mobile.builder-module-navigation .sub-menu-expand:focus {
	background: inherit;
	color: inherit;
}
/* Header Module Styles */
.nav-with-logo .builder-module-element .site-logo {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

/* HTML Module Styles */

.large-text-blue-background-html-background-wrapper {
	font-size: 1.25em;
}

/* Footer */

.builder-module-block .alignleft,
.builder-module-block .alignright {
	float: none;
	text-align: left;
	margin: 0;
}